<div class="col-sm-6">
	<div class="widget-box transparent" id="recent-box">
		<div class="widget-header">
			<h4 class="widget-title lighter smaller">
				<i class="ace-icon fa fa-rss orange"></i>领导日程
			</h4>

			<div class="widget-toolbar no-border">
				<ul class="nav nav-tabs" id="recent-tab">
					<li class="active">
						<a data-toggle="tab" href="#task-tab">Tasks</a>
					</li>

					<li>
						<a data-toggle="tab" href="#member-tab">Members</a>
					</li>

					<li>
						<a data-toggle="tab" href="#comment-tab">Comments</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="widget-body">
			<div class="widget-main padding-4">
				<div class="tab-content padding-8">
					<div id="task-tab" class="tab-pane active">
						<h4 class="smaller lighter green">
							<i class="ace-icon fa fa-list"></i>
							Sortable Lists
						</h4>

						<!-- #section:pages/dashboard.tasks -->
						<ul id="tasks" class="item-list">
							<li class="item-orange clearfix">
								<label class="inline">
									<input type="checkbox" class="ace" />
									<span class="lbl"> Answering customer questions</span>
								</label>

								<div class="pull-right easy-pie-chart percentage" data-size="30" data-color="#ECCB71" data-percent="42">
									<span class="percent">42</span>%
								</div>
							</li>

							<li class="item-red clearfix">
								<label class="inline">
									<input type="checkbox" class="ace" />
									<span class="lbl"> Fixing bugs</span>
								</label>

								<!-- #section:custom/extra.action-buttons -->
								<div class="pull-right action-buttons">
									<a href="#" class="blue">
										<i class="ace-icon fa fa-pencil bigger-130"></i>
									</a>

									<span class="vbar"></span>

									<a href="#" class="red">
										<i class="ace-icon fa fa-trash-o bigger-130"></i>
									</a>

									<span class="vbar"></span>

									<a href="#" class="green">
										<i class="ace-icon fa fa-flag bigger-130"></i>
									</a>
								</div>

								<!-- /section:custom/extra.action-buttons -->
							</li>

							<li class="item-default clearfix">
								<label class="inline">
									<input type="checkbox" class="ace" />
									<span class="lbl"> Adding new features</span>
								</label>

								<!-- #section:elements.dropdown.hover -->
								<div class="inline pull-right position-relative dropdown-hover">
									<button class="btn btn-minier bigger btn-primary">
										<i class="ace-icon fa fa-cog icon-only bigger-120"></i>
									</button>

									<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-caret dropdown-close dropdown-menu-right">
										<li>
											<a href="#" class="tooltip-success" data-rel="tooltip" title="Mark&nbsp;as&nbsp;done">
												<span class="green">
													<i class="ace-icon fa fa-check bigger-110"></i>
												</span>
											</a>
										</li>

										<li>
											<a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
												<span class="red">
													<i class="ace-icon fa fa-trash-o bigger-110"></i>
												</span>
											</a>
										</li>
									</ul>
								</div>

								<!-- /section:elements.dropdown.hover -->
							</li>

							<li class="item-blue clearfix">
								<label class="inline">
									<input type="checkbox" class="ace" />
									<span class="lbl"> Upgrading scripts used in template</span>
								</label>
							</li>

							<li class="item-grey clearfix">
								<label class="inline">
									<input type="checkbox" class="ace" />
									<span class="lbl"> Adding new skins</span>
								</label>
							</li>

							<li class="item-green clearfix">
								<label class="inline">
									<input type="checkbox" class="ace" />
									<span class="lbl"> Updating server software up</span>
								</label>
							</li>

							<li class="item-pink clearfix">
								<label class="inline">
									<input type="checkbox" class="ace" />
									<span class="lbl"> Cleaning up</span>
								</label>
							</li>
						</ul>

						<!-- /section:pages/dashboard.tasks -->
					</div>
				</div>
			</div><!-- /.widget-main -->
		</div><!-- /.widget-body -->
	</div><!-- /.widget-box -->
</div><!-- /.col -->