<extend name="Base/base" />

<block name="page_styles">
	<link rel="stylesheet" href="__CSS__/bootstrap-datetimepicker.min.css" />
	<link rel="stylesheet" href="__CSS__/chosen.css" />
</block>

<block name="breadcrumbs">
	<include file="Base/breadcrumbs" active="填写接待信息" leaf="接待登记" url="{:U('Reception/addReception')}"/>
</block>

<block name="content">
	<form class="form-horizontal" role="form"  method="post" action="{:U('Reception/addReception')}" id="receptionform">
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<div class="widget-box">
				<div class="widget-header">
					<h4>来访信息</h4>
				</div>

				<div class="widget-body">
					<div class="widget-main">

					<div class="form-group">
						<label class="col-sm-3" for="article_no"> 来访机构: <strong class="text-danger">*</strong></label>
						<div class="col-sm-9">
							<input type="text" name="vistor" id="vistor" class="col-xs-12 col-sm-12" />
							<em class="text-danger"></em>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3" for="article_no"> 到访内容:<strong class="text-danger">*</strong> </label>
						<div class="col-sm-9">
							<input type="text" name="visit_content" id="visit_content" class="col-xs-12 col-sm-12" />
							<em class="text-danger"></em>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3" for="article_no"> 带队领导: </label>
						<div class="col-sm-9">
							<input type="text" name="visit_leader" id="visit_leader" class="col-xs-12 col-sm-12" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3" for="article_no"> 联系人: </label>
						<div class="col-sm-9">
							<input type="text" name="contact" id="contact" class="col-xs-12 col-sm-12" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3" for="phone"> 联系电话: </label>
						<div class="col-sm-9">
							<input type="text" name="phone" id="phone" class="col-xs-12 col-sm-12" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3" for="visitor_count"> 到访人数:<strong class="text-danger">*</strong> </label>
						<div class="col-sm-9">
							<input type="text" name="visitor_count" id="visitor_count" class="input-mini" />
							<em class="text-danger"></em>
						</div>
					</div>

					<div class="form-group">				
						<label class="col-sm-3" for="begin_time"> 到访时间:<strong class="text-danger">*</strong> </label>
						<div class="col-sm-9">
							<input type="text" name="begin_time" class="datetime-picker col-xs-12 col-sm-12" data-date-format="yyyy-mm-dd hh:ii" value="{$start}">
							<em class="text-danger"></em>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-3" for="end_time"> 结束时间:<strong class="text-danger">*</strong> </label>
						<div class="col-sm-9">
							<input type="text" name="end_time" class="datetime-picker col-xs-12 col-sm-12" value="{$end}">
							<em class="text-danger"></em>
						</div>
					</div>

					
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-4">
			<div class="widget-box">
				<div class="widget-header">
					<h4>接待信息</h4>
				</div>

				<div class="widget-body">
					<div class="widget-main">

						<div class="form-group">
							<label class="col-sm-12" for="major_department">接待处室:<strong class="text-danger">*</strong> </label>
							<div class="col-sm-12">
								<foreach name="departments" item="department">
									<label>
										<input name="major_department" type="radio" class="ace group" value="{$department.id}"/>
										<span class="lbl"> {$department.short_name}</span>
									</label>
								</foreach>
								<em class="text-danger"></em>
							</div>
						</div>

						<div class="form-group">
							<!-- <label class="col-sm-12" for="assist_department">配合处室: </label> -->
							<label class="col-sm-12">
								<input id="need_assist_department" type="checkbox" class="ace" />
								<span class="lbl"> 配合处室</span>
							</label>
							<div class="col-sm-12" id="assist_deparment_div">
								<!-- <foreach name="departments" item="department">
									<label>
										<input name="assist_department[]" type="checkbox" class="ace group" value="{$department.id}"/>
										<span class="lbl"> {$department.short_name}</span>
									</label>
								</foreach> -->
							</div>
						</div>

						<div class="form-group" id="reception_leader_div">
							<label class="col-sm-12" for="receptionist">接待领导:<strong class="text-danger">*</strong> </label>
							<div class="col-sm-12">
								<select multiple="" class="width-90 chosen-select tag-input-style" id="reception_leader" name="reception_leader[]" data-placeholder="请选择领导...">
									<option value="">&nbsp;</option>
									<foreach name="leaders" item="leader">
										<option class="col-xs-10 col-sm-5" value="{$leader.id}">{$leader.first_name}{$leader.last_name}</option>
									</foreach>
								</select>
								<em class="text-danger"></em>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-12">
								<input id="need_receptionist" type="checkbox" class="ace" />
								<span class="lbl"> 接待人员</span>
							</label>
							<div class="col-sm-12" id="receptionist_div">
								<!-- <select multiple='' class='width-90 chosen-select tag-input-style' id='receptionist' name='receptionist[]' data-placeholder='请选择接待人员...'>
								</select> -->
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-12" for="description"> 说明: </label>
							<div class="col-sm-12">
								<textarea class="form-control" name="description" id="description"></textarea>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-12" for="description"></label>
							<div class="checkbox col-sm-12">
								<label>
									<input name="need_mail" id="need_mail" type="checkbox" class="ace" value="1" />
								<span class="lbl"> 邮件提醒</span>
								</label>
								<label>
									<input name="is_meal" id="is_meal" type="checkbox" class="ace" value="1" />
								<span class="lbl"> 需要用餐</span>
								</label>
							</div>
						</div>

						<input type="hidden" name="record_id" id="record_id" value="{:getCurrentUserId()}"/>
						<input type="hidden" name="id" id="id">
						<!-- <input type="hidden" id="is_allday" name="is_allday" value="0"> -->
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-4">
			<div class="widget-box">
				<div class="widget-header">
					<h4>参观信息</h4>
				</div>

				<div class="widget-body">
					<div class="widget-main">
						<div class="form-group">
							<label class="col-sm-12" for="visit_places">考察地点:</label>
							<div class="col-sm-12">
								<foreach name="places" item="place">
									<neq name="place.id" value="3">
									<label>
										<input name="view_place[]" type="checkbox" class="ace group" value="{$place.id}"/>
										<span class="lbl"> {$place.name}</span>						
									</label>
									</neq>
									<eq name="place.id" value="3">
										<input type="hidden" name="hall_id" value="{$place.id}">
									</eq>
								</foreach>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-12">
								<label>
									<input id="is_book_hall" type="checkbox" class="ace group" value="1"/>
									<span class="lbl">预订展厅</span>
								</label>
							</div>
							<div class="form-group" id="bookHall">
								<div class="col-sm-12">			
									<label class="col-sm-3 control-label no-padding-right" for="begin_time"> 开始时间:<strong class="text-danger">*</strong> </label>
									<div class="col-sm-9">
										<input type="text" id="hall_start_time" name="hall_start_time" class="datetime-picker col-xs-12 col-sm-9" data-date-format="yyyy-mm-dd hh:ii">
										<em class="text-danger"></em>
									</div>
								
									<label class="col-sm-3 control-label no-padding-right" for="end_time"> 结束时间:<strong class="text-danger">*</strong> </label>
									<div class="col-sm-9">
										<input type="text" id="hall_end_time" name="hall_end_time" class="datetime-picker col-xs-12 col-sm-9">
										<em class="text-danger"></em>

									</div>
								</div>
							</div>	
						</div>

						<div class="form-group">
							<div class="col-sm-12">
								<label>
									<input id="is_book_room" type="checkbox" class="ace group" value="1"/>
									<span class="lbl">预订会议室</span>
								</label>
							</div>
							<div class="form-group" id="bookRoom">
								<div class="col-sm-12">	
									<label class="col-sm-3 control-label no-padding-right" for="dealer">选择会议室:<strong class="text-danger">*</strong></label>
									<div class="col-sm-9">
									<select class="width-70 chosen-select" name="room_id">
										<option value="">&nbsp;</option>
										<foreach name="rooms" item="rm">
											<option class="col-xs-10 col-sm-5" value="{$rm.id}">{$rm.name}</option>
										</foreach>
									</select>
									<em class="text-danger"></em>
									</div>

									<label class="col-sm-3 control-label no-padding-right" for="begin_time"> 开始时间:<strong class="text-danger">*</strong> </label>
									<div class="col-sm-9">
										<input type="text" id="room_start_time" name="room_start_time" class="datetime-picker col-xs-12 col-sm-9" data-date-format="yyyy-mm-dd hh:ii">
										<em class="text-danger"></em>
									</div>
								
									<label class="col-sm-3 control-label no-padding-right" for="end_time"> 结束时间:<strong class="text-danger">*</strong> </label>
									<div class="col-sm-9">
										<input type="text" id="room_end_time" name="room_end_time" class="datetime-picker col-xs-12 col-sm-9">
										<em class="text-danger"></em>
									</div>
								</div>
							</div>	
						</div>
						

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="clearfix form-actions">
			<div class="col-md-offset-3 col-md-9">
				<button class="btn btn-info" type="submit">
					<i class="icon-ok bigger-110"></i>
					保存
				</button>

				&nbsp; &nbsp; &nbsp;
				<a class="btn" type="button" href="{:U('Reception/addReception')}">
					<i class="icon-undo bigger-110"></i>
					返回
				</a>
			</div>
		</div>
	</div>
	</form>
</block>

<block name="page_js">
	<script src="__JS__/jquery-ui.custom.min.js"></script>
	<script src="__JS__/jquery.ui.touch-punch.min.js"></script>
	<script src="__JS__/chosen.jquery.min.js"></script>
	<script src="__JS__/date-time/bootstrap-datetimepicker.min.js"></script>
	<script src="__JS__/date-time/locales/bootstrap-datetimepicker.zh-CN.js"></script>
	<script src="__JS__/jquery.form.min.js"></script>
	<script src="__JS__/jquery.validate.min.js"></script>
	<script src="__JS__/messages_zh.min.js"></script>
	<script src="__JS__/bootbox.min.js"></script>
	<script src="__JS__/fuelux/fuelux.spinner.min.js"></script>
</block>

<block name="inline_js">
	<script type="text/javascript">
		jQuery(function($){
			//初始化数字控件
			//注意：图标不能是icon-xxx形式，必须是fa fa-xxx
			$('.input-mini').ace_spinner({value:0,min:0,max:100,step:1, on_sides: true, icon_up:'fa fa-plus smaller-75', icon_down:'fa fa-minus smaller-75', btn_up_class:'btn-success' , btn_down_class:'btn-danger'});
			//初始化datetime控件
			$('.datetime-picker').datetimepicker({
				format:'yyyy-m-d h:ii',
				autoclose:true,
				todayBtn:true,
				language:'zh-CN',
			});
			//初始化chosen控件
			$(".chosen-select").chosen();
			//设置指示标位置
			setSidebarActive('reception_root', 'reception_add');
			$('#bookHall').hide();
			$('#bookRoom').hide();
			$('#assist_deparment_div').hide();
			$('#receptionist_div').hide();

			//预定展厅显示与隐藏
			$('#is_book_hall').on('click', function(){
				if(this.checked)
					$('#bookHall').show();
				else
					$('#bookHall').hide();
			});
			//预定其他房间的显示与隐藏
			$('#is_book_room').on('click', function(){
				if(this.checked)
					$('#bookRoom').show();
				else
					$('#bookRoom').hide();
			});
			//配合处室的显示与隐藏
			$('#need_assist_department').on('click', function(){
				if(this.checked){
					var chargeDeaprtment = $("input[name='major_department']:checked").val();
					if(chargeDeaprtment){
						createAssistDepartments(chargeDeaprtment);
						$('#assist_deparment_div').show();
					}
					else{
						bootbox.alert('请先选择接待处室！');
						this.checked = false;
					}	
				}
				else{
					if($('#need_receptionist').is(':checked')){
						$('#need_receptionist').trigger('click');
					}
					$('#assist_deparment_div').empty();
					$('#assist_deparment_div').hide();
				}
			});
			//接待处室变化后，配合处室的改变
			$("input[name='major_department']").on('change', function(e){
				//判断配合处室、接待人员是否打钩，打钩则触发'click'事件
				if($('#need_assist_department').is(':checked')){
					$('#need_assist_department').trigger('click');
				}
				if($('#need_receptionist').is(':checked')){
					$('#need_receptionist').trigger('click');
				}
				
			});
			//接待人员情况
			$('input#need_receptionist').on('click', function(){
				if(this.checked){
					var departmentIds = [];
					var chargeDeaprtment = $("input[name='major_department']:checked").val();
					if(!chargeDeaprtment){
						bootbox.alert('请先选择接待处室！');
						this.checked = false;
					}
					else{
						departmentIds.push(chargeDeaprtment);
						if($('#need_assist_department').is(':checked')){
							$("input:checkbox[name='assist_department[]']:checked").each(function(){
								
								departmentIds.push($(this).val());
							});
						}
						
						createReceptionist(departmentIds);
						$('#receptionist_div').show();	
					}
				}
				else{
					$('#receptionist_div').hide();
					$('#receptionist_div').empty();
				}
			});

			//表单验证设置
			$('#receptionform').validate({
				rules:{
					vistor: "required",
					visit_content: "required",
					visitor_count: {
						required: true,
						min: 1
					},
					"reception_leader[]": "required",
					room_id: "required",
					begin_time: "required",
					end_time: "required",
					major_department: "required",
					hall_start_time:{
						required: function(){
							return $('#is_book_hall').attr('checked');
						}
					},
					hall_end_time:{
						required: function(){
							return $('#is_book_hall').attr('checked');
						}
					},
					room_start_time:{
						required: function(){
							return $('#is_book_room').attr('checked');
						}
					},
					room_end_time:{
						required: function(){
							return $('#is_book_room').attr('checked');
						}
					}
				},//rules end
				errorPlacement: function(error, element){
					var next = element.next();
					//来访人数的显示
					if(element.attr('name')=='visitor_count'){
						next = element.parent().parent().next();
					}
					//接待领导的显示
					if(element.attr('id')=='reception_leader'){
						next = element.next().next();
					}
					//选择会议室的显示
					if(element.attr('name')=='room_id'){
						next = element.next().next();
					}
					if(element.attr('name')=='major_department'){
						next = element.parent().next('em');
					}
					error.appendTo(next);
				}
			});

			//处理表单的提交
			$('#receptionform').ajaxForm({
				beforeSubmit: showRequest,
				success: showResponse,
				clearForm: true,
				dataType: 'json'
			});



		});

		function createAssistDepartments(exceptId){
			$.get("{:U('Reception/getAssistDepartments')}", {id:exceptId}, function(data, textStatus){
				var html = "";
				var node = "<input name='assist_department[]' type='checkbox' class='ace' value='";
				var title = "<span class='lbl'>";
				$.each(data, function(n, depart){
					var tmpInput = node+depart.id+"'"+"/>";
					var tmpTitle = title+depart.short_name+"</span>";
					var tmpNode = tmpInput+tmpTitle;
					html += "<label>"+tmpNode+"</label>";
				});	
				$('#assist_deparment_div').append($(html));
			}, 'json');
			
		}

		function createReceptionist(Ids){
			//注意：Ids是个数组
			$.get("{:U('Reception/getReceptionist')}", {id:Ids}, function(data, textStatus){
				var html = "<select multiple='' class='width-90 chosen-select tag-input-style' id='receptionist' name='receptionist[]' data-placeholder='请选择接待人员...'>";
				    html += "<option value=''>&nbsp;</option>";
				var node = "<option class='col-xs-10 col-sm-5' value='";
				$.each(data, function(n, person){
					var tmpOption = node+person.id+"'>"+person.first_name+person.last_name+"</option>";
					html += tmpOption;
				});	
				html += "</select>";
				$('#receptionist_div').append($(html));
				//注意，必须要重新初始化，不然chosen无法显示
				$(".chosen-select").chosen();
				
			}, 'json');
		}

		function showRequest(formData, jqForm, options){
			//radio无法验证，单独处理
			if($('#receptionform').valid()){
				var form = jqForm[0];
				if(!form.major_department.value){
					bootbox.alert("请选择接待处室！");
					return false;
				}
				else
					return true;
			}

		}

		function showResponse(responseText, statusText, xhr, $form){

		} 
	</script>
</block>
